<div class="text-center mt-4">
  <main id="game" class="bg-white border m-auto">
    <ul id="card-deck" class="deck p-1 w-100 mb-0"  *ngIf="cardNames">
        <li class="boardCard match m-1" *ngFor="let card of cardNames" type="{{card}}" (click)="HandleCardClick($event)">
          <i class="fa fa-{{card}}"></i>
        </li>
    </ul>
  </main>

  <section id="settings" class="text-center bg-white border p-2 mt-2 mx-auto">
    <span class="moves" *ngIf="moves !== undefined">{{ moves }}</span> Move(s) <br>
    <span id="cards-left" *ngIf="cardsRemaining !== undefined">{{ cardsRemaining }}</span> Cards Remaining 
  </section>

  <div class="restart text-center mx-auto mt-2">
    <button class="btn btn-primary w-100 py-3 text-uppercase" (click)="OnRestart()">Restart</button>
  </div>

  <section id="modal" class="w-100 h-100">
    <div id="box" class="bg-white text-center p-5 rounded">
      <div class="text-primary p-2 h2 lighter-font">About Time...</div>
        <p class="h4 lighter-font mb-5" *ngIf="moves && bestScore">
          You matched all of the cards in <strong> {{ moves }}</strong> moves! <br><br>
          Your Best Score is: {{ bestScore }}
        </p>
      <button id="restart" class="btn btn-primary mr-1" (click)="OnRestart()">Play Again</button>
      <button class="btn btn-outline-primary ml-1" (click)="CloseModal()">Close</button>
    </div>
  </section>
</div>
