<div class="container">
  <div class="my-5 row justify-content-center" *ngIf="!user && pageLoaded">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="col-12 col-lg-5">
      <div class="form-group mb-3">
        <label for="username" class="f4">Username <span class="text-danger">*</span></label>
        <input type="text" required class="form-control primary-border " id="username" name="username" 
        formControlName="username" maxlength="12"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'danger-border': submitted && f.username.errors }">

        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Please provide a username.</div>
          <div *ngIf="f.username.errors.pattern">Please provide a valid username.</div>
          <div *ngIf="f.username.errors.serverError">Unable to save username. Please try again.</div>
        </div>
      </div>

      <button [disabled]="loading" class="btn btn-login btn-block btn-primary mt-1 py-3"><span *ngIf="!loading">SUBMIT</span>
        <div *ngIf="loading" class="spinner-border text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </form>
  </div>

  <div *ngIf="user" class="text-center my-4">
    <h5>Playing as {{ user.username }}</h5>
  </div>

  <!--<hr>-->

  <div class="text-center h1 mt-4 scaling-font">
    Bloxii Leaderboards
  </div>

  <div class="my-4 row" *ngIf="games">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let game of games">
      <div class="border bg-white rounded">
        <div class="text-center h3 p-3">
          {{ game.name }}
        </div>

        <table *ngIf="game.highScores; else no_high_scores" class="table table-hover border-bottom">
          <tbody>
            <tr *ngFor="let score of game.highScores; let i = index">
              <td style="width: 10%;">{{ i + 1 }}.</td>
              <td><strong>{{ score.score }}</strong></td>
            </tr>
          </tbody>
        </table>

        <ng-template #no_high_scores class="px-3">
          <div class="w-100 text-center">
            No high scores!
          </div>
        </ng-template>

        <div class="text-center mb-3 mt-4">
          <a routerLink="{{ game.route }}"><button class="btn btn-primary bubble-font inc-font px-3">Play &nbsp; <i class="fa fa-chevron-circle-right"></i></button></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!games" class="row text-center mt-5 justify-content-center">
    <div class="spinner-border text-primary text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
