<div class="container">
  <div class="row justify-content-center text-center px-3">
    <div class="card p-3 col-12 col-lg-5">
      <div *ngIf="user">
        <div class="alert alert-success" role="alert">
          Signed In!
        </div>
        <div>Playing as {{ user.username }}</div>
      </div>
  
      <div *ngIf="!user && !fetchingUser">
        <div class="alert alert-primary" role="alert">
          Get Started!
        </div>
        <app-signup></app-signup>
      </div>
  
      <div *ngIf="!user && fetchingUser">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="my-4 row" *ngIf="games">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let game of games">
      <div class="border bg-white rounded">
        <div class="text-center h3 p-3">
          {{ game.name }}
        </div>

        <table *ngIf="game.highScores; else no_high_scores" class="table table-hover border-bottom">
          <tbody>
            <tr *ngFor="let score of game.highScores; let i = index">
              <td style="width: 10%;">{{ i + 1 }}.</td>
              <td><strong>{{ score.score }}</strong></td>
            </tr>
          </tbody>
        </table>

        <ng-template #no_high_scores class="px-3">
          <div class="w-100 text-center">
            No high scores!
          </div>
        </ng-template>

        <div class="text-center mb-3 mt-4">
          <a routerLink="{{ game.route }}"><button class="btn btn-primary bubble-font inc-font px-3">Play &nbsp; <i class="fa fa-chevron-circle-right"></i></button></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!games" class="text-center mt-5 justify-content-center">
    <div class="spinner-border text-primary text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
