<div class="text-center m-0 mt-5">
    <div id="game-board">
        <canvas id="board" class="d-none border bg-white" (click)="canvasClicked()"></canvas>
    </div>

    <div class="text-center pt-3">
    
        <div *ngIf="!playing" class="mt-3">
            <div class="text-danger text-center inc-font">Please Select a Game Mode</div>
            <div class="my-4">
                <button id="startGameEasy" class="btn btn-primary mx-2 mt-3 game-mode-btn" (click)="SetupGame(GameModes.BlockEasy)">Easy</button>
                <button id="startGameHard" class="btn btn-primary mx-2 mt-3 game-mode-btn" (click)="SetupGame(GameModes.BlockHard)">Hard</button>
                <button id="startGameImpossible" class="btn btn-primary mx-2 mt-3 game-mode-btn" (click)="SetupGame(GameModes.BlockImpossible)">Impossible</button>
                <button id="startGameFlappy" class="btn btn-outline-primary mx-2 mt-3 game-mode-btn" (click)="SetupGame(GameModes.BlockFlappy)">Flappy</button>
            </div>
        </div>
    
        <div *ngIf="gameEnd">
            <button id="exit" class="btn btn-primary mx-2 mt-4 game-mode-btn" (click)="reloadPage()">Exit</button>
            <button id="restart" class="btn btn-outline-primary mx-2 mt-4 game-mode-btn" (click)="restartGame()">Restart</button>
        </div>
    </div>
</div>
