<div class="text-center">
  <main id="game" class="bg-white border m-auto rounded">
    <ul id="card-deck" class="deck p-1 w-100 mb-0" *ngIf="cardNames">
        <li class="boardCard m-1 rounded match" *ngFor="let card of cardNames" id="{{card}}" (click)="handleCardClick($event)">
          <i class="fa fa-{{card}}"></i>
        </li>
    </ul>
  </main>

  <section id="stats" class="text-center bg-white border p-2 mt-2 mx-auto rounded">
    <span class="moves" *ngIf="moves !== undefined">{{ moves }}</span> Move(s) <br>
    <span id="cards-left" *ngIf="cardsRemaining !== undefined">{{ cardsRemaining }}</span> Cards Remaining 
  </section>

  <div class="restart text-center mx-auto my-2">
    <button class="btn btn-primary w-100 py-3 text-uppercase" (click)="restart()">Restart</button>
  </div>

  <div class="py-2"></div>

  <section id="end-modal" class="modal-bg w-100 h-100">
    <div class="modal-box bg-white text-center py-5 px-1 rounded">
      <div class="modal-heading p-2 h3">
        <span class="animation-icon">🎊</span>
        <span class="animation-icon">🎊</span>
         Congratulations 
        <span class="animation-icon">🎊</span>
        <span class="animation-icon">🎊</span> 
      </div>
        <p class="h5 mb-5 mt-3 px-2">
          Moves: <strong> {{ moves }}</strong>
        </p>
      <button id="restart" class="btn btn-primary mr-1" (click)="restart()">Play Again</button>
      <button class="btn btn-outline-primary ml-1" (click)="closeModal()">Close</button>
    </div>
  </section>
</div>
