<div class="text-center">
    <div id="game-board">
        <canvas id="board" class="d-none border bg-white" (click)="canvasClicked($event)"></canvas>
    </div>

    <div class="not-selectable">
        <h5>Score: {{ score }}</h5>
        <div *ngIf="beforeGame">Tap the screen to begin</div>
    </div>

    <div *ngIf="gameEnd" class="my-4">
        <a routerLink="/home"><button id="exit" class="btn btn-primary mx-2 game-mode-btn">Exit</button></a>
        <button id="restart" class="btn btn-outline-primary mx-2 game-mode-btn" (click)="restartGame()">Restart</button>
    </div>
</div>
