$font: 'Muli', sans-serif;
$breakpoint: 992px;

// Global SCSS variables
:root {
    --headingHeight: 45px;
    --navbarHeight: 50px;
}

/*Variable Overrides*/
$theme-colors: (
  "primary": #26B1FF,
  "secondary":#0E425F,
  "secondary-light": #186fa0,
  "lightest": #fafdff,
  "light-gray": #DAE6ED,
  "gray": rgb(138, 138, 138),
  "info": #FF247F,
  "success": #00f437
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
    width: 100% !important;
    margin: 0;
    font-family: $font; 
    font-weight: 300;
    font-size: 1em;
    padding: 0;
}

.not-selectable {
    user-select: none;
}

.inc-font {
    font-size: 1.2em;
}
.f6{
    font-weight: 600 !important;
}
.f4{
    font-weight: 400 !important;
}
.f3 {
    font-weight: 300 !important;
}
.f2 {
    font-weight: 200 !important;
}
.f1 {
    font-weight: 100 !important;
}

.default-font {
    font-family: sans-serif;
    font-weight: 600;
}
.bubble-font {
    font-family: 'Staatliches', $font !important;
}
.oswald {
    font-family: 'Oswald', $font !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

.form-control {
    font-weight: 300 !important;
}
label{
    font-weight: 500;
}
.invalid-feedback {
    font-weight: 500;
}

.page-margin-top {
    margin-top: var(--headingHeight) !important;
}
.page-margin-bottom {
    margin-bottom: var(--navbarHeight) !important;
}
.page-min-height {
    min-height: calc(100vh - var(--headingHeight) - var(--navbarHeight)) !important;
}
.height-100 {
    min-height: 100vh !important;
}
