<div>
    <a routerLink="/flappy">
        <div class="card mx-2 mb-2 p-2">
            <div class="row">
            <div class="col-9">
                <div class="h5">Flappy</div>
                <div class="text-gray">Like Flappy Birds... but better</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-self-center">
                <i class="fa fa-chevron-right"></i>
            </div>
            </div>
        </div>
    </a>

    <a routerLink="/matching">
        <div class="card mx-2 mb-2 p-2">
            <div class="row">
            <div class="col-9">
                <div class="h5">Matching</div>
                <div class="text-gray">Match all of the cards</div>
            </div>
            <div class="col-3 d-flex justify-content-center align-self-center">
                <i class="fa fa-chevron-right"></i>
            </div>
            </div>
        </div>
    </a>
</div>
